In [87]:
import pandas as pd

# Q1. Pandas version

In [88]:
pd.__version__

'2.3.2'

In [89]:
filename='E:\python\ml_zoomcamp\car_fuel_efficiency.csv'

df  = pd.read_csv(filename)

# Q2. Records count
## How many records are in the dataset?

In [90]:
len(df)

9704

# Q3. Fuel types
## How many fuel types are presented in the dataset?

In [91]:
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

# Q4. Missing values
## How many columns in the dataset have missing values?

In [92]:
df.isnull().any()

engine_displacement    False
num_cylinders           True
horsepower              True
vehicle_weight         False
acceleration            True
model_year             False
origin                 False
fuel_type              False
drivetrain             False
num_doors               True
fuel_efficiency_mpg    False
dtype: bool

# Q5. Max fuel efficiency
## What's the maximum fuel efficiency of cars from Asia?

In [93]:
df[df['origin']=='Asia']['fuel_efficiency_mpg'].max()

23.759122836520497

# Q6. Median value of horsepower
- Find the median value of horsepower column in the dataset.
- Next, calculate the most frequent value of the same horsepower column.
- Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
- Now, calculate the median value of horsepower once again.

In [94]:
df['horsepower'].median()

149.0

In [95]:
most_freq_val = df['horsepower'].mode()[0]
most_freq_val

np.float64(152.0)

In [96]:
# mode_A = df['A'].mode()[0]
# df['A'].fillna(mode_A, inplace=True)
df['horsepower'].fillna(most_freq_val, inplace=True)

C:\Users\saket\AppData\Local\Temp\ipykernel_17712\2971152270.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(most_freq_val, inplace=True)

In [97]:
df['horsepower'].median()

152.0

# Q7. Sum of weights
- Select all the cars from Asia
- Select only columns vehicle_weight and model_year
- Select the first 7 values
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Invert XTX.
- Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the sum of all the elements of the result?

In [98]:
import numpy as np

# Assuming df is your DataFrame
# Select all the cars from Asia
asia_cars = df[df['origin'] == 'Asia']

# Select only columns vehicle_weight and model_year
X = asia_cars[['vehicle_weight', 'model_year']].head(7).to_numpy()

# Compute XTX and its inverse
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)

# Create y array
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Compute w
w = XTX_inv @ X.T @ y

# Sum of all elements in w
result = w.sum()
print(result)

0.5187709081074007